apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: payments-webhook
  name: payments-webhook
spec:
  ports:
    - name: "3010"
      port: 3010
      protocol: TCP
      targetPort: 3010
  selector:
    app: payments-ms
  type: NodePort
status:
  loadBalancer: {}
